body{
    background-color: black;
    color: azure;
    font-family:sans-serif;
    display: flex;
    justify-content:space-around;
  
}

.main{
    background-color: blueviolet;
    width: 40rem;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: larger;
}

.main .container{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    justify-content: space-around;

}

.name{
    border-style: none;
    height: 1.5rem;
    background-color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

.pass{
    border-style: none;
    height: 1.5rem;
    background-color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    width: 5rem;
    border-radius: 20px;
    margin-top: 10px;
    border-style: none;
    padding:10px;
}


label{
    padding: 5px;
}
